# LLM
OPENAI_API_KEY=
BASE_URL=

# Optional: Langsmith tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=

# Optional: OpenSource Observer API Key, used for fetching metrics
# Without API Key is also fine.
OPENSOURCE_OBSERVER_API_KEY=
